# PyCharm
.idea/
*.iml

# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/

# Environment
.env

# Cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db