.menu{
list-style:none;
flex:1;
}

.menu li{
margin-bottom:5px;
}

.menu a{
display:flex;
align-items:center;
gap:10px;
text-decoration:none;
color:#cce8df;
padding:10px;
border-radius:6px;
transition:0.2s;
}

.menu a:hover{
background:rgba(0,255,150,0.12);
color:#39ff9c;
}

.menu-title{
display:flex;
align-items:center;
gap:10px;
padding:10px;
cursor:pointer;
border-radius:6px;
color:#cce8df;
}

.menu-title:hover{
background:rgba(0,255,150,0.12);
color:#39ff9c;
}

.submenu{
list-style:none;
max-height:0;
overflow:hidden;
transition:max-height 0.3s ease;
padding-left:18px;
display:flex;
flex-direction:column;
gap:4px;
}

.menu-item.active .submenu{
max-height:500px;
}

.submenu a{
display:block;
width:100%;
padding:8px 10px;
font-size:14px;
color:#cce8df;
text-decoration:none;
border-radius:5px;
}

.submenu a:hover{
background:rgba(0,255,150,0.12);
color:#39ff9c;
}