{% load static %}
<!DOCTYPE html>
<html lang="tr">

<head>

<meta charset="UTF-8">
<title>Şifre Sıfırla</title>

<link rel="stylesheet" href="{% static 'css/pages/login.css' %}">

</head>

<body>

<canvas id="matrix"></canvas>

<div class="login-container">

<h2>Şifre Sıfırla</h2>

<form method="POST">

{% csrf_token %}

<input
type="email"
name="email"
placeholder="Email adresiniz"
required
>

<button type="submit">
Şifre Sıfırlama Linki Gönder
</button>

</form>

<div class="links">

<a href="{% url 'login' %}">Giriş Yap</a>

<a href="{% url 'register' %}">Kayıt Ol</a>

</div>

</div>

<script src="{% static 'js/auth/matrix.js' %}"></script>

</body>
</html>